<table class="table">
  <thead>
    <tr class="tr">
      <td><%= t "admin.manager.category_tour.type" %></td>
      <td><%= t "admin.manager.category_tour.update" %></td>
      <td><%= t "admin.manager.category_tour.delete" %></td>
    </tr>
  </thead>
  <tbody>
    <%= render @category_tours %>
  </tbody>
</table>
<%= will_paginate %>
