<h1><%= t "admin.manager.category_tour.new_category_tour" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @category_tour] do |f| %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <%= f.submit t(:submit), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
