<tr>
  <td><%= book_tour.user.name %></td>
  <td><%= book_tour.tour.name %></td>
  <td><%= book_tour.people_number %></td>
  <td><%= book_tour.requirement %></td>
  <td>
    <%= link_to admin_tour_book_tour_path(@tour, book_tour), method: :delete,
      data: {confirm: "Are you sure?"} do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
</tr>
