<table class="table table-striped">
  <thead>
    <tr class="tr">
      <td>User name</td>
      <td>Tour</td>
      <td><%= t "admin.manager.book_tour.people_number" %></td>
      <td><%= t "admin.manager.book_tour.requirement" %></td>
      <td><%= t "admin.manager.book_tour.action" %></td>
    </tr>
  </thead>
  <tbody>
    <%= render @book_tours %>
  </tbody>
</table>
<%= will_paginate %>
