<table class="table">
  <thead>
    <tr class="tr">
      <td><%= t "admin.manager.tour.name" %></td>
      <td><%= t "admin.manager.tour.show_book_tour" %></td>
      <td><%= t "admin.manager.tour.update" %></td>
      <td><%= t "admin.manager.tour.delete" %></td>
    </tr>
  </thead>
  <tbody>
    <%= render @tours %>
  </tbody>
</table>
<%= will_paginate %>
