<% provide :title, "Framgia book tour" %>
<h1><%= t "admin.manager.tour.update_tour" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @tour] do |f| %>
      <%= f.hidden_field :category_tour_id, value: @category_tour_id %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :schedule %>
        <%= f.text_field :schedule, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :place_departure %>
        <%= f.text_field :place_departure, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :time %>
        <%= f.text_field :time, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :people_number %>
        <%= f.text_field :people_number, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :transport %>
        <%= f.text_field :transport, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_field :content, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :time_start %>
        <%= f.text_field :time_start, class: "form-control" %>
      </div>

      <%= f.submit t("btn_update"), class: "btn btn-primary" %>
    <% end %>
    <br>
  </div>
</div>
