<% provide :title, "Framgia book tour" %>
<%= form_for [:admin, @tour] do |f| %>
<%= render "shared/error_messages", object: f.object %>
<div>
  <h3>Tour New</h3>
  <div class="form-group">
    <hr>
    <%= f.label :name , class: "name"%>
    <%= f.text_field :name, style: "width:600px; margin-left: -100px;" %>
  </div>
  <div class="form-group">
    <hr>
    <%= f.label :schedule, class: "name"%>
    <%= f.text_field :schedule, style: "width:600px; margin-left: -100px;" %>
  </div>
  <div class="form-group">
    <hr>
    <%= f.label :place_departure, class: "name"%>
    <%= f.text_field :place_departure, style: "width:600px; margin-left: -100px;" %>
  </div>
  <div class="form-group">
    <hr>
    <%= f.label :time, class: "name"%>
    <%= f.text_field :time, style: "width:600px; margin-left: -100px;" %>
  </div>
    <div class="form-group">
    <hr>
    <%= f.label :people_number, class: "name"%>
    <%= f.text_field :people_number, style: "width:600px; margin-left: -100px;" %>
  </div>
   <div class="form-group">
    <hr>
    <%= f.label :transport, class: "name"%>
    <%= f.text_field :transport, style: "width:600px; margin-left: -100px;" %>
  </div>
    <div class="form-group">
    <hr>
    <%= f.label :price, class: "name"%>
    <%= f.text_field :price, style: "width:600px; margin-left: -100px;" %>
  </div>
    <div class="form-group">
    <hr>
    <div data-provide='datepicker'>
    <%= f.label :time_start, class: "name"%>
    <%= f.text_field :time_start, style: "width:600px; margin-left: -100px;" %>
    </div>
  </div>
  <div class="form-group">
  <hr>
    <%= f.label :content, class: "content" %>
    <div class="">
    <%= f.cktext_area :content %>
    </div>
  </div>
  <div class="form-group">
      <hr>
    <%= f.label :category_tour, class: "tour" %>

    <%= f.collection_select :category_tour_id, @categories, :id, :title %>
  </div>
  <%= f.submit t("submit"), class: "btn btn-default" %>
  </div>
<% end %>
</div>
