<table class="table table-striped">
  <thead>
    <tr class="tr">
      <th><%= t "admin.user.name" %></th>
      <th><%= t "admin.user.avatar" %></th>
      <th><%= t "admin.user.action" %></th>

    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
<%= will_paginate %>
