<% provide :title, "Framgia book tour" %>
<% if @review.is_confirm == true %>
<div class="single">
  <div class="container">
    <div class="single-top wow bounceInLeft" data-wow-delay="0.3s">
      <div class="lone-line">
        <h2 class="center"><%= @review.title %></h2>
        <ul class="grid-blog">
          <li><span><i class="glyphicon glyphicon-time"> </i>
            <%= l @review.created_at, format: :short %></span></li>
          <li id="comment-count_<%= @review.id %>"><i class="glyphicon glyphicon-comment">
            </i><%= pluralize @review.comments.count, "comment" %></li>
          <li><i class="glyphicon glyphicon-user">
            </i><%= link_to @review.user.name, @review.user %></li>
        </ul>
        <p class="wow fadeInLeft animated" data-wow-delay=".5s">
          <div class="center"><%= raw @review.content %></div>
        </p>
        <% if user_signed_in? && @review.user_id == current_user.id %>
          <div class="center">
            <%= link_to t("edit"), edit_review_path(@review), class: "btn btn-default" %>
            <%= link_to t("delete"), review_path(@review), class: "btn btn-default",
              method: :delete, data: {confirm: t("confirm_delete")} %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="review_<%= @review.id %>_likes">
      <%= render "likes", locals: {review: @review} %>
    </div>
    <div id="error_messages"></div>
    <div id="comment-form">
      <%= render "shared/comment_form", review: @review %>
    </div>
    <div id="comment_<%= @review.id %>">
      <%= render @comments %>
    </div>
    <div id="load-more-comments_<%= @review.id %>">
      <% if @comments.total_pages > 1 %>
      <%= link_to("load more comments...", review_path(@review, page: @comments.next_page), remote: true) %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
