<div class="header">
  <div class="container">
    <div class="header-main">
      <div class="logo wow bounceInLeft" data-wow-delay="0.3s">
        <%= link_to image_tag("logo1.png"), root_path %>
      </div>
      <div class="top-navg">
        <span class="menu"><%= image_tag "icon.png" %></span>
        <nav class="cl-effect-13">
          <ul class="res">
            <li><%= link_to t("home"), root_path, class: "active" %></li>
            <li><%= link_to t("tour.tour"), tours_path %></li>
            <li class="dropdown">
              <%= link_to "#", {class: "dropdown-toggle",
                "data-toggle": "dropdown"} do %>
                Reviews
                <b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu" style="background-color: #333333">
                <li><%= link_to "New", new_review_path %></li>
                <li><%= link_to "List Reviews", reviews_path %></li>
              </ul>
            </li>
            <% if user_signed_in? %>
            <li><%= link_to "Activities", activities_path %></li>
            <li><%= link_to "Users", users_path %></li>
              <% if current_user.is_admin? %>
                <li><%= link_to t("admin.title"), admin_root_path %></li>
              <% end %>
                <li><%= link_to t("sign_out"), destroy_user_session_path,
                  method: :delete %></li>
            <% else %>
              <li><%= link_to t("sign_in"), new_user_session_path %></li>
              <li><%= link_to t("sign_up"), new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    <div class="clearfix"></div>
    </div>
  </div>
</div>
